<?xml version="1.0"?>
<sonoff-switch-control>
   <first>
      <name>LED-strip</name>
      <ip_add>192.168.0.15</ip_add>
   </first>
   <second>
      <name>Our-Lamp</name>
      <ip_add>192.168.0.14</ip_add>
   </second>
   <number_in_console>
      <name>Name</name>
      <ip_add>IP address</ip_add>
   </number_in_console>
</sonoff-switch-control>
